build/
Testing/
x64/
x86/
Debug/
Release/
*.exe
*.obj
*.pdb
*.ilk

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake
!CMakeLists.txt

.vs/
.vscode/
*.vcxproj
*.vcxproj.filters
*.sln
*.suo
*.user

*.tmp
*.temp

*.out
*.o
*.a
*.so
*.dll